[submodule "punctuate"]
	path = punctuate
	url = https://www.github.com/InteraktionAB/punctuate
[submodule "grammar"]
	path = grammar
	url = https://www.github.com/InteraktionAB/grammar
[submodule "sentiments"]
	path = sentiments
	url = https://www.github.com/InteraktionAB/sentiments.git
